{% extends "base.html" %}

{% block title %}Añadir Artículo{% endblock %}

{% block content %}
    <h1 class="mt-5">Añadir Nuevo Artículo</h1>
    <form method="POST" action="{{ url_for('add') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="title">{{ form.title.label }}</label>
            {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="content">{{ form.content.label }}</label>
            {{ form.content(class="form-control", rows=10) }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
